body {
  background-image: url("/img/bg.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
 
}

.regform {
  width: 400px;
  background-color: rgb(0, 0, 0, 0.6);
  margin: auto;
  color: #FFFFFF;
  padding: 10px 0px 10px 0px;
  text-align: center;
  border-radius: 15px 15px 0px 0px;
}

.main {
  background-color: rgb(0, 0, 0, 0.5);
  width: 800px;
  margin: auto;
}

.formclass {
  padding: 10px;
}

#as:visited {
  color: rgba(0,0,0,0);
}

a:hover {
  color: rgba(0,0,0,0);
}

#as:hover {
  color: rgba(0,0,0,0);
}

.row {
  float: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center
}

.column {
  width: 350px;
  height: 400px;
  box-sizing: border-box;
  display: inline-block;
  background-color: #ffffffb2;
  padding: 10px;
  height: 100%;
  margin: 5%;
  border-radius: 25px;
  border: 2px solid #31a6ff;
}

.wrapper {
  width: 70%;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Roboto', sans-serif;
  color: #111;
  line-height: 24px;
}
.text4{
  font-size: 43px;
}
h1 {
  font-weight: 600;
  font-size: 32px;
  padding: 20px 0;
  text-align: center;
}

h2 {
  font-weight: 500;
  font-size: 22px;
  padding: 20px 0;
  text-align: center;
  font-weight: bold;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  font-weight: bold;
}

p {
  font-weight: 400;
  font-size: 18px;
  color: #2d93e1;
  font-weight: bold;
}

nav {
  width: 100%;
  height: 60px;
  background-color: #111111;
  
}

nav .wrapper {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 60px;
}

nav ul li {
  list-style: none;
  float: left;
}

nav ul li a {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
  padding: 0 16px;
  text-transform: uppercase;
}

nav ul li a:hover {
  color: #31a6ff;
}

section {
  background-color: rgba(255, 255, 255, 0.8);
  width: 94%;
  padding: 20px 3%;
}

.index-intro p {
  text-align: center;
}
.index-categories{
  background-color: rgba(255, 255, 255, 0.4);
}

.index-categories-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
}

.index-categories-list div {
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
  height: 100%;
  border: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

div.index-categorias-div {
  box-sizing: border-box;
  width: 33%;
  height: 100%;
  margin-left: 10%;
  margin-right: 10%;
  padding: 10px;
  text-align: center;
  margin: 0 auto;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
  
}

div.index-categorias-div img {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 30px;
  transition: 1s ease;
  box-sizing: border-box;
  display: inline-block;
  border-radius: 25px;
  border: 2px solid #31a6ff;
}

#h1sing {
  color: #ffffff;
}

.signup-form {
  width: 50%;
  margin: 10% auto;
}

.regform {
  width: 800px;
  height: 400px;
  background-color: rgb(0, 0, 0, 0.6);
  margin-top: 13px;
  color: #FFFFFF;
  padding: 10px 0px 10px 0px;
  text-align: center;
  border-radius: 15px 15px 0px 0px;
  vertical-align: middle;
  align-items: center;
}

.main {
  background-color: rgb(0, 0, 0, 0.5);
  width: 800px;
  margin-top: 35px;
  height: 40%;
}

form {
  margin-left: 30%;
  margin-right: 30%;
  padding: 5px;
  vertical-align: middle;
  align-items: center;
}

#name {
  width: 100%;
  height: 32px;
}

.name {
  margin-left: -70%;
  margin-bottom: -5.5%;
  margin-top: 3%;
  width: 125px;
  color: white;
  font-size: 18px;
  font-weight: 700;
}


.firstlabel {
  position: relative;
  color: #E5E5E5;
  text-transform: capitalize;
  font-size: 14px;
  left: 203px;
  top: -45px;
}

.lastlabel {
  position: relative;
  color: #E5E5E5;
  text-transform: capitalize;
  font-size: 14px;
  left: 492px;
  top: -76px;
}

.company {
  position: relative;
  left: -30%;
  top: -37px;
  line-height: 40px;
  width: 480px;
  border-radius: 6px;
  padding: 0 22px;
  font-size: 16px;
  color: #555;
}

.email {
  position: relative;
  left: -30%;
  top: -37px;
  line-height: 40px;
  width: 480px;
  border-radius: 6px;
  padding: 0 22px;
  font-size: 16px;
  color: #555;
}

.Code {
  position: relative;
  left: 200px;
  top: -37px;
  line-height: 40px;
  width: 95px;
  border-radius: 6px;
  padding: 0 22px;
  font-size: 16px;
  color: #555;
}
.text{
  height: 25px;
  width: 100%;
}

.text1{
  height: 25px;
  width: 60%;
}

.text2{
  height: 32px;
}

.text3{
  height: 25px;
  width: 100%;
}
button{
  background-color:#3BAF9F;
  display:block;
  margin:5% 5% 5% 5%;
  text-align:center;
  border-radius:3%;
  border:2px solid #366473;
  padding:4% 15%;
  outline:none;
  color:white;
  cursor:pointer;
  transition:0.25px;
  float: center;
  }

button:hover {
  background-color: #5390F5;
}

div.foetel-recept {
  border: 1px solid rgb(255, 254, 254);
  width: 350px;
  height: 400px;
  box-sizing: border-box;
  display: inline-block;
  background-color: #FFFFFF;
  margin: 5%;
  margin-left: 10%;
}

div.column img {
  width: 100%;
  height: 300px;
  float: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#img {
  position: relative;
  top: auto;
  width: 100%;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  border: 0px;
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
}

div.ki_leiras {
  border: 1px solid rgb(255, 254, 254);
  width: 600px;
  height: 100%;
  box-sizing: border-box;
  display: inline-block;
  background-color: #ffffffb2;;
  padding: 10px;
  margin: 5%;
  text-align: left;
  border-radius: 25px;
  border: 2px solid #31a6ff;
}

div.ki_leiras img {
  width: 100%;
  height: 50%;
  float: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#kisDiv11 {
  position: relative;
  top: auto;
  width: 100%;
  height: 100px;
  margin: 0%;
  box-sizing: border-box;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.1);
}

div.gomb {
  background-color: #31a6ff;
  border-width: 2px;
  border-radius: 11px;
}
.submit{
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
  width: 70%;
}